.te_header_navbar .container{
    width: 963px !important;
}
.navbar-nav a{
    border-right: 1px solid #F1F1F0;
}
::-webkit-input-placeholder {
  font-size: 12px;
  padding-left:10px;
}
.hover_bg_clr:hover{
    background: black !important;
}
.hover_bg_clr:hover .hover_clr{
    color: white !important
}
.hover_bg_clr:hover .hover_clr_more{
    color: #fdd642 !important;
}